* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1em;
    font-size: 20px;
    color: #333333;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #DBE0F9;
}

.wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 600px;
    align-items: center;
}

h1 {
    color: #2937ff;
    font-style: italic;
}

.user {
    margin: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.users {
    margin: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.users__buttons {
    width: 10%;
}

#chat {
    width: 100%;
}

.chat__title {
    text-align: center;
    margin: 2px;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 0.5em;
    color: #ffffff;
    background-color: #2937ff;
    font-size: 20px;
    width: 100%;
    min-width: 475px;
    height: 2.3em;
    font-style: italic;
}

.chat__body {
    min-width: 475px;
    background-color: #eee;
    border: 1px solid #2937ff;
    height: 75vh;
    border-radius: 4px;
}

.chat__input {
    width: 80%;
    height: 2.5em;
    padding: 0.4em;
    margin-left: 1em;
    border: solid 1px #2937ff;
    border-radius: 4px;
    margin-top: 51em;
}

#changeTable {
    width: 80%;
}

#usersBtn,
#chatBtn,
#logoutBtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    color: #ffffff;
    background-color: #2937ff;
    font-size: 20px;
    width: 6em;
    height: 2em;
    font-style: italic;
    cursor: pointer;
}

#sendBtn {
    text-align: center;
    margin: 2px;
    border: solid 1px transparent;
    border-radius: 4px;
    color: #ffffff;
    background-color: #2937ff;
    font-size: 20px;
    width: 15%;
    height: 1.8em;
    font-style: italic;
    cursor: pointer;
}

#name,
#email {
    color: #2937ff;
    font-style: italic;
    font-weight: bold;
}

#table{
    min-width: 100%;
}

.table__header {
    background-color: #2937ff;
    font-style: italic;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
}

.table__body {
    background-color: #eee;
}

td, th {
    padding: 0.5em;
}

.users-chat {
    color: #2937ff;
    font-style: italic;
    font-weight: bold;
    padding-top: 2em;
    font-size: 1em;
}

li {
    list-style-type: none;
    line-height: 1%;
}

.users-chat li {
    font-size: 0.8em;
}