* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1em;
    font-size: 20px;
    color: #333333;
    height: 100vh;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, rgba(60, 102, 97, 1) 0%, rgba(108, 137, 100, 1) 76%, rgba(156, 141, 94, 1) 100%);
    box-shadow: inset 0px -20px 20px -14px #0000006e;
}

.wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 600px;
    align-items: center;
}

h1 {
    color: #252e3e;
}

.user {
    margin: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.users {
    margin: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.users__buttons {
    width: 10%;
}

#chat {
    width: 100%;
}

.chat__title {
    text-align: center;
    margin: 2px;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 0.5em;
    color: #ffffff;
    background-color: #252e3e;
    font-size: 20px;
    width: 100%;
    min-width: 475px;
    height: 2.3em;
}

.chat__body {
    min-width: 475px;
    background-color: #eee;
    border: 1px solid #252e3e;
    height: 75vh;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.chat__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    overflow-y: auto;
}

.outgoing {
    padding: 5px;
    text-align: right;
}

.incoming {
    padding: 5px;
    text-align: left;
}

.chat__footer {
    display: flex;
    height: 2.5em;
    align-items: center;
}

.chat__input {
    width: 80%;
    height: 2.5em;
    padding: 0.4em;
    margin-left: 1em;
    border: solid 1px #252e3e;
    border-radius: 4px;
}

#changeTable {
    width: 80%;
}

#usersBtn,
#chatBtn,
#logoutBtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 4px;
    color: #ffffff;
    background-color: #252e3e;
    border-color: #252e3e;
    font-size: 20px;
    width: 6em;
    height: 2em;
    cursor: pointer;
}

#sendBtn {
    text-align: center;
    margin: 2px;
    border: solid 1px transparent;
    border-radius: 4px;
    color: #ffffff;
    background-color: #46a6ac;
    border-color: #46a6ac;
    font-size: 20px;
    width: 15%;
    height: 1.8em;
    cursor: pointer;
}

#name,
#email {
    color: #252e3e;
    font-weight: bold;
}

#table{
    min-width: 100%;
}

.table__header {
    background-color: #252e3e;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
}

.table__body {
    background-color: #eee;
}

td, th {
    padding: 0.5em;
}

.users-chat {
    color: #252e3e;
    font-weight: bold;
    padding-top: 2em;
    font-size: 1em;
    min-width: 150px;
}

li {
    list-style-type: none;
    line-height: 1%;
}

.users-chat li {
    font-size: 0.8em;
}

